/* Circular Content Carousel Style */

.ca-container {
    height: 500px;
    margin: 0 auto;
    position: relative;
    width: 385px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:450px;
	height:100%;
	
}

.ca-item-main{
	
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
	
	overflow:hidden;

}


.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../images/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-35px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-40px;
}
.ca-nav span:hover{
	opacity:1.0;
}

