


/* Small reset */
body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p{
margin:0;
padding:0;
background:url(../images/white-back.png) repeat;
}

/*Structured layout mainpage*/
body{
font-size:13px;
font-family: Arial, Helevtica, Verdana, san-serif;
position:relative;
float: left;
width: 100%;
}

#contentwrap, #footer{
position:relative;
width:960px;
margin:0 auto;
clear: both;
padding-left:0px !important; /*ie6fix*/
padding-left:20px;
z-index:1;
}


#footer{
padding-top:40px;
clear: both;
}

#head{
z-index: 5;
position: relative;
width:960px;
margin:0px auto;

}

#main{
position: relative;
z-index: 1;
width:1000px;
float: left;
padding-top:30px;
}

#headwrap, #footerwrap{
width:100%;
clear: both;
float: left !important; /* ie6fix */
float: none;
position: relative;
z-index: 6;
}

/*Featuread Area*/


#featured, .featured, .fadeout, .newsselect{ 
height:370px; 			/*this changes the height of the image slider*/
}

#feature_wrap{
width:959px;
position: relative;
margin-left:20px;

}

#featured{
position: relative;
width:957px;
overflow: hidden;
}



.featured{
width:700px;
position:absolute;
top:0;
left:0;
overflow: hidden;
display:none;
}

#top .feature_excerpt{
width:660px;
position: absolute;
display: block;
bottom: 0;
left:0;
z-index: 3;
padding:10px 20px;
font-size: 11.5px;
line-height:1.5em;
cursor: pointer;
}

.sliderdate{
display:none;
}

/*fadeslider*/
.fadeslider .featured{
width:100%;
border:none;
}

#top .slidecontrolls{
position:absolute;
width:10px;
right:-15px;
bottom:0;

}

#top .slidecontrolls span{
height:10px;
padding:2px 0;
width:10px;
display:block;
cursor: pointer;
}


#top .fadeslider .feature_excerpt{
width:917px;
}


/*newsslider*/

.newsselect{
position: absolute;
overflow: hidden;
width:276px;
right:0px;
top:0px;
border-left:1px solid #e1e1e1;
background: #fff;
z-index: 5;
}

.newsslider .newsItems{
position: absolute;
top:0;
left:0;
}

.newsslider .featured{
border:none;
}

#top .newsselect .sliderheading{
font-size:13px;
font-family: Arial, Helevtica, Verdana, san-serif;
font-weight: bold;
padding: 0;
}

.newsselect .single_item{
padding:10px;
border-bottom:1px solid #e1e1e1;
display: block;
text-decoration: none;
line-height: 1.3em;
width:256px;
}

.newsselect .single_item:hover, .newsselect .active_item{
background-color: #f1f1f1;
text-shadow:1px 1px 0 #FFFFFF;
outline: none;
}

#top .newsslider .fadeout{
right:155px;
}

.newsselect .sliderdate{
display:block;
font-size: 11px;
}

/*accordion slider*/
.featured img{
display:block;
position: relative;
z-index: 2;
}

#top .fadeout{
position:absolute;
width:200px;
display:block;
right:0px;
z-index: 4;
}

#top .sliderheading{
display:block;
font-size: 16px;
font-family:'oswaldbook';
color:#fff;
text-transform: uppercase;
text-shadow:#000000 5px 4px 4px;
}

#top .heading_clone {
    bottom: 20px;
    color: #FFFFFF;
    font-family: 'oswaldbook';
    font-size: 16px;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-shadow: 2px 1px 1px #000000;
    text-transform: uppercase;
    z-index: 4;
}


.featured a, .featured a img, .featured img{
text-decoration: none;
border:none;
}


